<form class="max-w-sm mx-auto" hx-post="/submit-song-select" hx-trigger="submit">
    <label for="song-select" class="block mb-2 text-sm font-medium text-gray-900">Select a song to
        play</label>
    <select id="song-select" name="song"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        {}
    </select>

    <button type="submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg">
        Submit
    </button>
</form>
