[Unit]
Description=ChordSync Startup Service
After=network.target

[Service]
Type=simple
User=chordsync
WorkingDirectory=/home/chordsync/.local/src/eecs473-ChordSync/rpi-backend/cmake-build-debug
ExecStart=/home/chordsync/.local/src/eecs473-ChordSync/rpi-backend/cmake-build-debug/rpi-backend
Restart=on-failure

[Install]
WantedBy=multi-user.target
