@tailwind base;
@tailwind components;
@tailwind utilities;

div.maxwidthcontainer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1280px; /* max-w-screen-xl */
    padding-left: 10px; /* px-2.5 (2.5 * 4px = 10px) */
    padding-right: 10px; /* px-2.5 (2.5 * 4px = 10px) */
}

@media (min-width: 768px) {
    /* md breakpoint */
    div.maxwidthcontainer {
        padding-left: 80px; /* md:px-20 (20 * 4px = 80px) */
        padding-right: 80px; /* md:px-20 (20 * 4px = 80px) */
    }
}

.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator {
    display: inline-block;
}

.htmx-request .button-text {
    display: none;
}
